<div class="row header">
  <div class="col-md-6">
    <a href="{{ site.url }}" title="{{ site.title | escape }}">
      <h1 class="title">klaus<span class="subtitle">silveira</span></h1>
    </a>
  </div>
  <div class="col-md-6">
    <div class="social hidden-sm-down">
      <a href="https://github.com/{{ site.username }}"><span class="icon">{% include icon-github.svg %}</span></a>
      <a href="https://twitter.com/{{ site.username }}"><span class="icon">{% include icon-twitter.svg %}</span></a>
    </div>
  </div>
</div>
